<!doctype html>
<html ng-app="Acompanho">
	<head>
		<title>Acompanho</title>
		<link type="image/x-icon" href="/img/favicon.png" rel="shortcut icon">
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		
		<!-- Scripts in header to prevent showing "{{}}" tags -->
		<script src="vendor/jquery/dist/jquery.min.js"></script>
		
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-animate/angular-animate.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
		
		<script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		
		<script src="js/main.js"></script>
		<script src="js/services/InterceptorService.js"></script>
		<script src="js/services/DialogService.js"></script>
		<script src="js/services/FeedService.js"></script>
		
		<script src="js/controllers/AcompanhoController.js"></script>
		<script src="js/controllers/FeedsController.js"></script>
		<script src="js/controllers/NewFeedController.js"></script>
		<script src="js/controllers/FeedDetailController.js"></script>
		<script src="js/controllers/ConfirmDialogController.js"></script>
		
	</head>
	<body ng-controller="AcompanhoController" class="container-fluid">
		<nav class="topMenu navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header"><a class="navbar-brand" href="#">Acompanho</a></div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/detail/{{currentFeed._id}}">Detalhes do Feed</a></li>
					<li><a ng-click="updateAll()" href="javascript:void(0)">Atualizar</a></li>
					<li><a href="#"><%=user.login%></a></li>
				</ul>
			</div>
		</nav>

		<div class="col-md-2">
			<div class="lateralMenu panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Meus Feeds</h3>
				</div>
				<div class="panel-body">
					<ul class="feedList nav nav-pills nav-stacked" ng-show="feeds">
						<li ng-repeat="feed in feeds" class="{{feed.selected? 'active' : ''}}">
							<a class="feedLink" href="#/list/{{feed._id}}">{{feed.title}}&nbsp;
								<span ng-show="feed.unreadCount > 0">({{feed.unreadCount}})&nbsp;</span>
								<span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-show="feed.updating"></span>
								<span class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true" ng-show="feed.failedUpdate"></span></a>
						</li>
					</ul>
					<div ng-hide="feeds.length">Nenhum Feed aqui. Adicione um novo!</div>
					<hr />
					<button ng-click="addFeed()" class="btn btn-primary">Adicionar Feed</button>
				</div>
			</div>
		</div>

		<div class="entries col-md-10" ng-view> 
		
		</div>
	</body>
</html>