/* Angular-UI: */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.feedList li{
	cursor: pointer;
}

.unread {
	font-weight: bold;
}
.entryTitle {
	display: block;
	padding: 10px 15px;
}

.entryDescription img {
	max-width: 100%;
	height: auto;
}

.no-padding-right {padding-right: 0}
.no-padding-left {padding-left: 0}
.no-padding-both {padding-right: 0; padding-left: 0}

.main {
	padding-top: 60px
}
