<accordion close-others="true">
	<accordion-group ng-repeat="entry in entries" is-open="status.open">
		<accordion-heading>
			<span ng-click="toggleEntry(entry)" class="entryTitle {{entry.unread? 'unread' :''}}">
				{{entry.title | limitWordWise:110}}
				<span class="pull-right">{{entry.pubDate | date:'dd/MM/yyyy hh:mm'}}</span>
			</span>
		</accordion-heading>
		<h2><a href="{{entry.link}}" target="_blank">{{entry.title}}</a></h2>
		<div ng-bind-html="entry.description" class="entryDescription"></div>
	</accordion-group>
</accordion>
<pagination total-items="totalEntries"
			ng-model="currentPage"
			ng-change="pageChanged()"
			max-size="5"
			items-per-page="itemsPerPage"
			class="pagination-sm"
			boundary-links="true"
			rotate="false"
			num-pages="numPages"
			ng-show="entries">
</pagination>