<header class="navbar navbar-default navbar-fixed-top navbar-inner">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left visible-xs" style="margin-left:10px" ng-click="showMenuAside()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Acompanho</a>
    </div>
    <nav class="hidden-xs">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="feeds.detail({'id': acompanho.currentFeed._id})" ng-show="acompanho.currentFeed">Detalhes do Feed</a></li>
        <li><a ng-click="updateAll()" href="javascript:void(0)">Atualizar</a></li>
        <li dropdown>
          <a href id="simple-dropdown" dropdown-toggle>{{user.login}} <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
            <li><a href="/logout">Sair</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container-fluid main">
  <div class="col-md-2 hidden-xs">
    <div class="lateralMenu panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Meus Feeds</h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="cat in categories">
          <label>{{cat.name}}</label>
          <ul class="feedList list-group">
            <li ng-repeat="feed in cat.feeds" class="list-group-item" ng-class="{active: feed.selected}" ng-click="showEntries(feed)">
              {{feed.title}} &nbsp;
              <span ng-show="feed.unreadCount > 0 && !feed.updating && !feed.failedUpdate" class="badge" ng-hide="">{{feed.unreadCount}}</span>
              <span class="badge" ng-show="feed.updating && !feed.failedUpdate"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i></span>
              <span class="badge" ng-show="feed.failedUpdate" aria-hidden="true"><i class="glyphicon glyphicon-warning-sign text-danger"></i></span>
            </li>
          </ul>
        </div>
        <div ng-hide="categories.length">Nenhum Feed aqui. Adicione um novo!</div>
        <hr />
        <button ng-click="addFeed()" class="btn btn-primary">Adicionar Feed</button>
      </div>
    </div>
  </div>

  <div class="entries col-md-10" ui-view ng-show="acompanho.currentFeed">
  </div>
  <div ng-if="!acompanho.currentFeed">Selecione um feed para exibir as postagens.</div>
</div>
