<nav class="topMenu navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" href="#">Acompanho</a></div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="feeds.detail({'feedId': currentFeed._id})" ng-show="currentFeed">Detalhes do Feed</a></li>
      <li><a ng-click="updateAll()" href="javascript:void(0)">Atualizar</a></li>
      <li dropdown>
        <a href id="simple-dropdown" dropdown-toggle>{{user.login}} <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
          <li><a href="/logout">Sair</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="col-md-2">
  <div class="lateralMenu panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Meus Feeds</h3>
    </div>
    <div class="panel-body">
      <ul class="feedList nav nav-pills nav-stacked" ng-show="feeds">
        <li ng-repeat="feed in feeds" class="{{feed.selected? 'active' : ''}}">

          <a class="feedLink" ui-sref="feeds.list({feedId: feed._id})">{{feed.title}}
            <span ng-show="feed.unreadCount > 0" class="badge">{{feed.unreadCount}}</span>&nbsp;
            <span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-show="feed.updating"></span>
            <span class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true" ng-show="feed.failedUpdate"></span></a>
        </li>
      </ul>
      <div ng-hide="feeds.length">Nenhum Feed aqui. Adicione um novo!</div>
      <hr />
      <button ng-click="addFeed()" class="btn btn-primary">Adicionar Feed</button>
    </div>
  </div>
</div>

<div class="entries col-md-10" ui-view ng-show="currentFeed">
</div>
<div ng-if="!currentFeed">Selecione um feed para exibir as postagens.</div>
